<mat-card class="w-full h-full rounded-2xl bg-blue-200 overflow-auto">
    <mat-toolbar color="primary" class="w-full rounded-2xl flex flex-row justify-center">
        <span class="font-mono">XSS-Detector</span>
    </mat-toolbar>

    <button [matTooltip]="'Click to Retry'">
        <mat-card *ngIf="status" class="w-max mt-2 ml-4 bg-green-400 rounded-xl font-mono" (click)="retry()">Status :
            Connected</mat-card>
        <mat-card *ngIf="status==false" class="w-max mt-2 ml-4 bg-red-500 rounded-xl font-mono" (click)="retry()">Status
            : Not Connected</mat-card>
    </button>


    <div class="flex flex-col items-center w-full mt-32">
        <span class="font-sans text-4xl font-bold w-max">Network Interface</span>
        <mat-form-field appearance="fill" class="w-1/3 m1-1">
            <mat-label>Select Network Interface</mat-label>
            <mat-select [disabled]="interfaces.length <= 0" [(ngModel)]="selected_interface">
                <mat-option *ngFor="let x of interfaces" value="{{x}}">{{x}}</mat-option>
            </mat-select>
        </mat-form-field>
        <span class="font-sans text-4xl font-bold w-max mt-1">Port Number</span>
        <mat-form-field appearance="outline" class="w-1/3 items-center">
            <mat-label>Enter Port Number</mat-label>
            <input matInput [(ngModel)]="port_no" type="number">
        </mat-form-field>
        <button mat-raised-button color="warn" [disabled]="!port_no || !selected_interface || started"
            (click)="start()">
            {{started? "Listening":"Start"}}
        </button>
        <div class="w-full rounded-xl bg-slate-500 h-96 overflow-auto mt-10 flex flex-col">
            <div class="px-4 sm:px-6 lg:px-8">
                <div class="mt-8 flex flex-col">
                    <div class="-my-2 -mx-4 sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 align-middle">
                            <div class="shadow-sm ring-1 ring-black ring-opacity-5">
                                <table class="min-w-full border-separate" style="border-spacing: 0">
                                    <thead class="bg-gray-50">
                                        <tr>
                                            <th scope="col"
                                                class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">
                                                Source IP</th>
                                            <th scope="col"
                                                class="sticky top-0 z-10 hidden border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:table-cell">
                                                Result</th>
                                            <th scope="col"
                                                class="sticky top-0 z-10 hidden border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter lg:table-cell">
                                                Payload</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bg-white">
                                        <tr *ngFor="let res of results">
                                            <td
                                                class="whitespace-nowrap border-b border-gray-200 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8">
                                                {{res.src}}</td>
                                            <td
                                                class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500 hidden sm:table-cell">
                                                {{res.attack? "Not Safe":"Safe"}}</td>
                                            <td
                                                class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500 hidden lg:table-cell">
                                                {{res.payload}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>